params {
    TFs = "${launchDir}/input/tfs.csv"
    SNPs = "${launchDir}/input/all_genomicc_associated_eQTLs_hg38.csv"
    BGEN_FILES = "/exports/igmm/eddie/ponting-lab/breeshey/data/genomicc/imputed/genomic-isaric/GenOMICC_ISARIC_chr{1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22}.{bgen,bgen.bgi,sample}"
    ASSEMBLY = "grch38"
    R2_THRESHOLD = 0.8
    INFO_THRESHOLD = 0.6
}
