process {
    memory = { 8.GB * task.attempt }
    time = { 48.hour * task.attempt }
    cpus = 1

    withLabel: moremem {
        ext.baseMemory = 32.GB
        memory = { task.ext.baseMemory * Math.pow(2, task.attempt-1) }
    }

    withLabel: moretime {
        time = { 48.hour * task.attempt }
    }
}