process {
    withLabel: qctool_image {
        container = "roskamsh/qctools:0.1.1"
    }
    withLabel: bgen_python_image {
        container = "roskamsh/bgen_env:0.2.0"
    }
    withLabel: plink_image {
        container = "roskamsh/plink1.9:0.2.0"
    }
    withLabel: command_line_image {
        container = "roskamsh/commandlinetools:latest"
    }
}