process {
    withLabel: qctool_image {
        container = "/path/to/qctool_image"
    }
    withLabel: bgen_python_image {
        container = "/path/to/bgen_python_image"
    }
    withLabel: plink_image {
        container = "/path/to/plink_image"
    }
    withLabel: command_line_image {
        container = "/path/to/command_line_image"
    }
}
